@{
    ViewData["Title"] = "PasteBin";
}
-
<h1>Create New Paste</h1>

<form id="createPasteForm">
    <div class="form-group">
        <label for="pasteTitle">Paste title:</label>
        <input class="form-control" id="pasteTitle" name="Title" required type="text" />
        <label for="pasteContent">Paste Content:</label>
        <textarea class="form-control" id="pasteContent" name="Content" required></textarea>
    </div>

    <button id="createPaste" type="button" class="btn btn-primary mt-4 w-100">Create Paste</button>
</form>

<form method="get" asp-page="/Paste/Pastes.cshtml">
    <button id="createPaste" type="button" class="btn btn-primary mt-4 w-100">View Pastes</button>
</form>
