@model List<Pastes>

<h2>List of Pastes</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <!-- Додайте інші заголовки для інших полів -->
        </tr>
    </thead>
    <tbody>
        @foreach (var paste in Model)
        {
            <tr>
                <td>@paste.Title</td>
                <td>@paste.Content</td>
                <!-- Додайте інші комірки для інших полів -->
            </tr>
        }
    </tbody>
</table>